@media screen and (max-width: 1024px) 
  .imgItemBottom 
    background-color: green
    flex-grow: 2
.imgItemBottom
    display: flex
    flex-direction: column
    justify-content: space-evenly
    height: 300px
    width: 300px 
    border: 1px solid black
    border-radius: 3%
    align-items: center
    margin-bottom: 2px
.imgBox
    position: relative 
    
.imgItem
    height: 200px
    width: 200px 
    border-radius: 6% 
.favoritesButton
    display: flex
    position: absolute
    justify-content: center
    align-items: center
    background-image: url(./img/favourites.png)
    background-repeat: no-repeat
    border-radius: 50%
    height: 35px
    width: 35px
    bottom: 90px
    right: -18px
.playButton
    display: flex
    position: absolute
    justify-content: center
    align-items: center
    background-image: url(./img/play-button.png)
    background-repeat: no-repeat
    border-radius: 50%
    height: 35px
    width: 35px
    bottom: 50px
    right: -18px
.ratingBox
    display: flex
    position: absolute
    justify-content: center
    align-items: center
    height: 35px
    width: 35px
    bottom: 10px
    right: -18px
    background-image: url(./img/dry.png)
    background-repeat: no-repeat
.rating
    position: absolute
    border-radius: 50%